.navbar {
    background-color: #ad1c47;
    list-style-type: none;
}

.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #99145d, #3046C5, #60106B);
    color: white;
    margin: 0;
}

.img-fluid {
    height: 150px;
}

.fa-solid {
    visibility: visible;
}



body {
    font-family: "Georgia", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}



.site-footer{
    background-image: linear-gradient(#ad1c47, white);
    padding: 20px 0;
    list-style-type: none;
}


.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}


.mr {
    margin-right: 1em;
}

.tab-content {
    border: 1px solid #DDD;
    border-top: none;
    padding: 10px;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}

.bio {
    max-width: 100%;
    color: purple;
}

.nav-item {
    list-style-type: none;
    
}


/* Portfolio section */
section.portfolio .portfolio-items .item .item-content:hover .item-overlay h6,
section.portfolio .portfolio-items .item .item-content:hover .item-overlay .icons .icon {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
}
    /*additional portfolio section stuff*/
 
    section.portfolio .portfolio-filter {
        margin-bottom: 40px;
    }
    
    section.portfolio .portfolio-filter ul li {
        display: inline-block;
        font-size: 14px;
        margin-right: 20px;
        color: #222;
        position: relative;
        font-family: "Raleway", san-serif;
        cursor: pointer;
        text-transform: uppercase;
    }
    
    section.portfolio .portfolio-filter ul li:last-child {
        margin-right: 0;
    }
    
    section.portfolio .portfolio-filter ul li:last-child:before {
        visibility: hidden;
    }
    
    section.portfolio .portfolio-filter ul li:before {
        content: "/";
        position: absolute;
        right: -15px;
        font-weight: 400;
    }
    
    section.portfolio .portfolio-filter ul li.sel-item {
        font-weight: 600;
    }
    
    section.portfolio .portfolio-items .item {
        margin-bottom: 30px;
    }
    
    section.portfolio .portfolio-items .item .item-content {
        position: relative;
        overflow: hidden;
    }
    
    section.portfolio .portfolio-items .item .item-content:before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        bottom: 10px;
        left: 10px;
        background-color: rgba(255, 255, 255, 0.9);
        opacity: 0;
        -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
        transform: scale(0.8);
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
    }
    
    section.portfolio .portfolio-items .item .item-content:hover:before {
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
        opacity: 1;
    }
    
    section.portfolio .portfolio-items .item .item-content .item-overlay {
        position: absolute;
        width: 100%;
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
    }
    
    section.portfolio .portfolio-items .item .item-content .item-overlay h6 {
        text-transform: uppercase;
        -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        transform: translateY(-10px);
        opacity: 0;
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
        font-size: 14px;
        font-weight: 800;
        letter-spacing: 1px;
    }
    
    section.portfolio .portfolio-items .item .item-content .item-overlay .icons .icon {
        -webkit-transform: translateY(10px);
        -ms-transform: translateY(10px);
        transform: translateY(10px);
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
        opacity: 0;
    }
    
    section.portfolio .portfolio-items .item .item-content .item-overlay .icons .icon a {
        display: inline-block;
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
        height: 40px;
        width: 40px;
        margin-top: 30px;
        background-color: #fff;
        font-size: 22px;
        line-height: 40px;
        color: #222;
        -webkit-border-radius: 20%;
        border-radius: 20%;
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.45);
    }
    
    section.portfolio .portfolio-items .item .item-content:hover .item-overlay h6,
    section.portfolio .portfolio-items .item .item-content:hover .item-overlay .icons .icon {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    
    /*services section */
    section.services .service-item {
        text-align: center;
        margin-bottom: 50px;
    }
    
    section.services .service-item .icon {
        color: #222;
        display: inline-block;
        margin-bottom: 20px;
        width: 80px;
        height: 80px;
        line-height: 78px;
        font-size: 30px;
        border: 1px solid #e3e3e3;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-transition: .5s all ease;
        -o-transition: .5s all ease;
        transition: .5s all ease;
    }
    
    section.services .service-item h4 {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 16px;
        text-transform: uppercase;
    }
    
    section.services .service-item:hover .icon {
        -webkit-box-shadow: 0 5px 30px #e3e3e3;
        box-shadow: 0 5px 30px #e3e3e3;
        border-color: #f2f2f2;
    }

    /*social icons */
   .social-icons {
        margin-top: 30px;
        text-align: center;
    }
    
    .social-icons a {
        display: inline-block;
        font-size: 15px;
        line-height: 26px;
        text-align: center;
        margin-right: 10px;
        background-color: #222;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        border: 2px solid #222;
        width: 30px;
        height: 30px;
        -webkit-transition: .2s all ease;
        -o-transition: .2s all ease;
        transition: .2s all ease;
    }
    
    .social-icons a .fa {
        color: #fff;
        -webkit-transition: .2s all ease;
        -o-transition: .2s all ease;
        transition: .2s all ease;
    }
    
 .social-icons a:hover {
        border: 2px solid #222;
        background: transparent;
        line-height: 26px;
    }
    
    .social-icons a:hover .fa {
        color: #222;
    }
    
    

    /*about content */

section.about .about-content .about-heading {
    margin-bottom: 20px;
}

section.about .about-content .about-heading h2 {
    font-size: 32px;
    font-weight: 600;
    text-transform: uppercase;
}

section.about .about-content .about-heading span {
    font-family: "Raleway", san-serif;
    color: #222;
    font-size: 19px;
}

section.about .about-content p {
    line-height: 28px;
}

section.about .about-content .social-icons {
    margin-top: 30px;
}

section.about .about-content .social-icons a {
    display: inline-block;
    font-size: 15px;
    line-height: 26px;
    text-align: center;
    margin-right: 10px;
    background-color: #222;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid #222;
    width: 30px;
    height: 30px;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

section.about .about-content .social-icons a .fa {
    color: #fff;
    -webkit-transition: .2s all ease;
    -o-transition: .2s all ease;
    transition: .2s all ease;
}

section.about .about-content .social-icons a:hover {
    border: 2px solid #222;
    background: transparent;
    line-height: 26px;
}

section.about .about-content .social-icons a:hover .fa {
    color: #222;
}

/*main button for cv*/
.about-button {
    margin-top: 40px;
    padding-top: 12px;
    text-align: center;
}

.cv {
    text-align: center;
    padding-top: 20px;
}

.main-btn {
    display: inline-block;
    background-color: #222;
    padding: 10px 20px;
    border: 2px solid #222;
    color: #fff;
    text-transform: uppercase;
    -webkit-transition: .2s background-color ease;
    -o-transition: .2s background-color ease;
    transition: .2s background-color ease;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    padding-top: 12px;
    text-align: center;
    
}

.main-btn:hover {
    color: #222;
    background-color: transparent;
}

section.about .about-content .about-button {
    margin-top: 40px;
}

/* iframe section */

iframe {
    width: 100%;
    height: 100%;
}

/*links in footer for phone and email */
.btn-contact  {
    color: maroon;
}

.portfolio {
    max-width: 100%;
    height: 50%;
    text-align: center;
}

.row {
    
}

/*Testimonials section */
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}

/* Slideshow container */
.slideshow-container {
    position: relative;
    background: #f1f1f1f1;
  }
  
  /* Slides */
  .mySlides {
    display: none;
    padding: 80px;
    text-align: center;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -30px;
    padding: 16px;
    color: #888;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    position: absolute;
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
    color: white;
  }
  
  /* The dot/bullet/indicator container */
  .dot-container {
      text-align: center;
      padding: 20px;
      background: #ddd;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  /* Add a background color to the active dot/circle */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Add an italic font style to all quotes */
  q {font-style: italic;}
  
  /* Add a blue color to the author */
  .author {color: cornflowerblue;}
